@font-face{
    font-family:roboto;
    src:url("./Font/ROBOTO.TTF")
}
@font-face{
    font-family:comic;
    src:url("./Font/comic.ttf")
}
@font-face{
    font-family:vazir;
    src:url("./Font/Vazir.ttf")
}
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  html{background-color: #b7b7b7;}
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(7,142,77,0.65); 
    border-radius:10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(7,142,77); 
  }
.pagetitle{
    font-family:roboto;
    text-align: center;
    margin-top: -4.5vw;
    font-size: 36px;
}
.pertext{
  font-family:vazir ;
  font-size:18px;
  text-align: right;
}
.engtext{
  font-family:comic;
  font-size:18px;
  text-align: left;
}
.title{
    font-family:roboto;
    text-align: center;
    font-size: 36px;
}
.icon{
  filter: grayscale(100%);
  width:100px;
  height:100px;
}
.icon:hover{
  filter: grayscale(0%);
  width:120px;
  height:120px;
}
.contact{
  text-align:center;
}