/* get path of font - مشخص کردن فایل فونت */
@font-face{
    font-family:Roboto;
    src:url("./style/Font/ROBOTO.TTF")
}
/* get path of font - مشخص کردن فایل فونت */
@font-face{
    font-family:iransans;
    src:url("./style/Font/IRANSANS.TTF")
}
.pagetitle{
    font-family: Roboto;
    text-align: center;
    margin-top: -4.5vw;
}
html{background-color: #b7b7b7;}
.maintext{
    font-family:iransans;
    font-size:48px;
    text-align:center;
}

/* @media only screen and (min-width:768px){ */
    .backtohome{
        font-family:iransans;
        font-size:36px;
        color:black;
        text-shadow:0px 0px 15px rgb(7,142,77);
        text-align:center;
        border:0;
        border-radius: 15px;
    }
    .backtohome{
        text-decoration:none;
        color:white;
        background-color:rgb(7, 142, 77);
        position:relative;
        overflow:hidden;
    }
    .backtohome::after{
        content:'بزن بریم';
        position:absolute;
        inset:0;
        display:grid;
        place-items: center;
        background-color: rgb(10,56,34);
        transform:translateX(-110%);
        transition:1s;
    }
    .backtohome:hover::after{
        transform: translateX(0);
    }
    .mainbox{
        width: 100%;
        text-align: center;
    }

