/* get path of font - مشخص کردن فایل فونت */
@font-face{
    font-family:iransans;
    src:url("./style/Font/IRANSANS.TTF")
}
/* get path of font - مشخص کردن فایل فونت */
@font-face{
    font-family:comic;
    src:url("./style/Font/comic.ttf");
}

.pagetitle{
    font-family:comic;
    text-align: center;
    margin-top: -4.5vw;
}
.audiotitle{
    font-family:comic;
    text-align: center;
}
.audio{
    text-align: center;

}
audio{
    width:80%;
    box-shadow: 5px 5px 20px rgba(7, 142, 77, 0.496 );
    border-radius: 90px;

}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
