/* get path of font - مشخص کردن فایل فونت */
@font-face{
    font-family:Roboto;
    src:url("./Font/ROBOTO.TTF")
}
/* get path of font - مشخص کردن فایل فونت */
@font-face{
    font-family:iransans;
    src:url("./Font/IRANSANS.TTF")
}
/* get path of font - مشخص کردن فایل فونت */
@font-face{
    font-family: comic;
    src:url("./Font/comic.ttf")
}

.pagetitle{
    font-family: Roboto;
    text-align: center;
    margin-top: -4.5vw;
}
.input{
    width:75%;
    height:1.5cm;
    box-shadow: 0px 0px 25px rgb(7,142,77);
    border-radius: 25px;
    margin-top: 1cm;
    font-family: comic;
    font-size: 28px;
    margin-bottom: 20px;
    align-self: center;
}

.readtext{
    background-color: rgba(7,142,77);
    margin-top:3%;
    font-family:comic;
    border-radius:25px;
    color:white;
    border:0px;
    padding-top:1%;
    padding-left:2%;
    padding-bottom:1%;
    padding-right:2%;
    font-size:32px;
    text-align: center;
    
    box-shadow: 0px 0px 25px rgb(7,142,77);

}
.readtext:hover{
    background-color: rgba(7,142,77,0.75);
    color:white;
    transition-duration: 0.2s;
    box-shadow: 0px 0px 40px rgb(7,142,77);
}
.main_part{
    text-align: center;
}