@font-face{
    font-family:vazir;
    src:url("./Font/Vazir.ttf");
}
@font-face{
    font-family:comic;
    src:url("./style/Font/comic.ttf");
}
@font-face{
    font-family:roboto;
    src:url("./style/Font/ROBOTO.TTF");
}
html{
    background-color: #b7b7b7;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(7,142,77,0.65); 
    border-radius:10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(7,142,77); 
  }
.pagetitle{
    font-family:roboto;
    text-align: center;
    margin-top: -4.5vw;
}
.eng-text{
    font-family: comic;
    font-size:20px;
}
.farsi-text{
    font-family:vazir;
    font-size: 20px;
}
#text{
    color:white;
    text-align: center;
}
@media only screen and (max-width:900px){
    #div{
        background-color: rgba(7,142,77,0.65);
        width:60%;
        border-radius:20px;
        border:5px solid rgba(255,255,255,0.5);
        margin-left:18%;
        margin-bottom:2%;
    }
    #img{
        width:85%;
        margin-top:3%;
        border:5px solid rgba(255,255,255,0.5);
        margin-left:5%;
        box-shadow: 0px 0px 15px rgb(10,56,34);
        border-radius: 8px;
    }}
@media only screen and (min-width:900px){
    .line1-d{
        display:inline-block;
    }
    .line2-d{
        display:inline-block;
    }
    .line3-d{
        display:inline-block;
    }
    .line4-d{
        display:inline-block;
    }
    #div{
        background-color: rgba(7,142,77,0.65);
        width:20%;
        height:360px;
        border-radius:20px;
        border:5px solid rgba(255,255,255,0.5);
        margin-left:3%;
        margin-bottom:2%;
    }
    #img{
        width:75%;
        margin-top:4%;
        height:220px;
        margin-left:10%;
        border:5px solid rgba(255,255,255,0.5);
        border-radius: 8px;
        box-shadow: 0px 0px 15px rgb(10,56,34);
        }}
